
localhost

route /index {

    # respond "Hello"
#   uri strip_prefix /api
  rewrite * /verify-token 
  @post method GET
  reverse_proxy @post {
	
	to localhost:8000
	@success status 200
	handle_response @success  {
		rewrite * /index
		reverse_proxy localhost:8000
	}
  }
}

# reverse_proxy 127.0.0.1:8000
